<a href="https://colab.research.google.com/github/exalteded/DSPS_ejones/blob/master/KS_earthquakes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import scipy as sp
from scipy import stats
%pylab inline
pl.style.use("https://raw.githubusercontent.com/fedhere/DSPS/master/fbb.mplstyle")

Populating the interactive namespace from numpy and matplotlib

1 What is the test's Null Hypothsis that the K-S test tests?

## that two different empyrical data distrbution sets come from the same distribution in this case labeled k and l KS > dkl

2 What is the "statistic" or "pivotal quantity" that the test uses?

the pivotal quanitity is the distribution given by the probability density. Which serves to test the scaling function. (https://imgur.com/a/uJlQU7G), listed here formula (6) in corral 2018

3 What does the probability distribution of this statistic depend on? 

It depends on the gamma function and each value of the distribution xn being independant of eachother.

In [16]:
pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/HW3/earthquakes.csv", sep = " ",warn_bad_lines=True, skipinitialspace= True)
#there were some random variable spaces so skipinitial and sep were used and i added in the warn_bad_lines to warn me if there were any NaN in the 70k lines I can't see in the preview

       #YYY/MM/DD  HH:mm:SS.ss  ET GT   MAG  ... DEPTH  Q     EVID  NPH NGRM
0      1984/01/01  01:30:57.52  eq  l  2.02  ...   1.6  C    28255   13   17
1      1984/01/01  05:31:34.16  eq  l  2.12  ...   5.4  C    28259   18   42
2      1984/01/01  06:59:05.14  eq  l  2.43  ...   5.6  C    28260   13   30
3      1984/01/01  11:10:25.29  eq  l  2.07  ...  13.8  C    28270   19   40
4      1984/01/01  19:38:19.79  eq  l  2.13  ...   2.7  C    28553   40   49
5      1984/01/01  19:39:19.67  eq  l  2.13  ...  18.5  C    28282   32   41
6      1984/01/01  20:19:47.21  eq  l  2.02  ...  13.8  C    28284   31   59
7      1984/01/02  03:51:52.76  eq  l  2.97  ...   5.6  C    28297   14   19
8      1984/01/02  05:00:12.44  eq  l  3.24  ...   4.5  C    28575   40  130
9      1984/01/02  05:02:17.29  eq  l  2.17  ...   0.8  C    28299   17   19
10     1984/01/02  06:18:52.16  eq  l  2.48  ...   1.4  C    28304   28   93
11     1984/01/02  13:26:50.45  eq  l  2.65  ...  13.3  C    28319   15   77
12     1984/01/02  13:47:42.60  eq  l  3.17  ...   5.9  C    28320    5   30
13     1984/01/02  14:01:05.85  eq  l  2.44  ...  12.8  C    28321   18   49
14     1984/01/02  15:21:08.12  eq  l  3.02  ...   3.8  C    28330   11   76
15     1984/01/02  18:43:18.09  eq  l  2.10  ...   1.5  C    28337   19   31
16     1984/01/03  06:37:11.36  eq  l  2.41  ...   5.1  C    28354   23   85
17     1984/01/03  10:52:01.17  eq  l  2.29  ...   6.5  C    28362   37   47
18     1984/01/03  13:26:56.21  eq  l  2.09  ...   8.8  C    28373   14   45
19     1984/01/03  19:44:09.71  eq  l  3.17  ...   5.6  C    28389   24   67
20     1984/01/04  03:39:11.87  eq  l  2.03  ...  11.0  C    28408   32   61
21     1984/01/04  06:05:10.56  eq  l  2.80  ...   5.6  C    28410   18   34
22     1984/01/04  06:17:22.59  eq  l  2.75  ...   5.6  C    28411   16   36
23     1984/01/04  09:30:11.96  eq  l  2.92  ...   5.5  C    28415    5   12
24     1984/01/04  11:43:05.02  eq  l  2.32  ...   6.3  C    28417   21   71
25     1984/01/04  12:19:28.30  eq  l  2.07  ...   9.4  C    28418    8   25
26     1984/01/04  16:36:55.35  eq  l  2.00  ...   1.9  C    28421   10   27
27     1984/01/04  21:37:49.46  eq  l  2.67  ...   5.1  C    28441   10   23
28     1984/01/05  08:06:31.89  eq  l  2.58  ...   6.0  C    28709   10   33
29     1984/01/05  16:26:02.75  eq  l  3.11  ...   5.5  C    28467   28   79
...           ...          ...  .. ..   ...  ...   ... ..      ...  ...  ...
70768  2002/12/24  19:16:06.29  eq  l  2.69  ...   2.4  A  9873357   44  661
70769  2002/12/24  19:17:10.41  eq  l  2.64  ...   1.8  A  9873361   46  661
70770  2002/12/24  22:33:03.42  eq  l  2.73  ...   7.0  C  9873441   17  322
70771  2002/12/25  15:12:53.66  eq  l  2.56  ...   7.0  C  9873589   16  139
70772  2002/12/25  20:18:29.80  eq  l  2.02  ...   1.9  A  9873629   44  288
70773  2002/12/25  20:23:45.68  eq  l  2.10  ...   2.1  A  9873633   43  380
70774  2002/12/25  20:25:57.98  eq  l  2.06  ...   0.9  A  9873637   37  377
70775  2002/12/26  16:08:16.85  eq  l  2.23  ...   7.0  C  9873769   16  120
70776  2002/12/27  08:36:13.14  eq  l  2.12  ...   4.9  A  9873965   59  225
70777  2002/12/27  08:55:47.35  eq  l  2.01  ...   6.8  C  9873981   10   94
70778  2002/12/27  11:33:22.28  eq  l  2.71  ...   3.1  A  9874013   86  561
70779  2002/12/27  12:01:47.68  eq  l  3.17  ...   7.1  C  9874017   22  452
70780  2002/12/27  12:31:30.01  eq  l  2.06  ...  13.1  A  9874025   64  479
70781  2002/12/27  13:54:20.36  eq  l  2.09  ...   7.0  C  9874053   10  120
70782  2002/12/27  19:39:35.78  eq  l  2.53  ...   7.0  C  9874197   12  173
70783  2002/12/28  02:51:39.72  eq  l  2.07  ...  12.1  A  9874265   50  476
70784  2002/12/28  04:05:07.37  eq  l  2.40  ...   4.3  C  9874345   33  325
70785  2002/12/28  05:02:58.95  eq  l  2.34  ...   7.0  C  9874357   15  120
70786  2002/12/28  05:39:58.02  eq  l  2.20  ...   1.4  A  9874361   32  493
70787  2002/12/28  08:54:37.57  eq  l  2.01  ...  18.3  B  9874389   20   96
70788  2002/12/28  22:07:52.17  eq  l  2.13  ...   2.9  A  9874533   19  261
70789  2002/12/29  01:55:15.53  eq  l  2.22  ...   2.1  A  9874565   56  365
70790  2002/12/29  02:36:07.36  eq  l  2.07  ...   2.1  A  9874577   50  198
70791  2002/12/29  19:36:07.23  eq  l  3.15  ...   1.7  A  9874701   46  948
70792  2002/12/29  19:36:54.42  eq  l  2.50  ...   4.8  A  9874705   26  948
70793  2002/12/29  19:37:24.56  eq  l  2.21  ...   3.7  A  9874709   25  948
70794  2002/12/29  20:17:33.40  eq  l  2.02  ...   1.8  A  9874745   48  245
70795  2002/12/29  20:21:28.73  eq  l  2.07  ...   1.9  A  9874749   53  277
70796  2002/12/30  21:51:52.55  eq  l  2.31  ...   1.5  A  9875017   66  404
70797  2002/12/30  23:38:49.79  eq  l  2.05  ...   1.9  A  9875061   54  283

[70798 rows x 13 columns]